* {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 100%;
    width: 100%;
    overflow: hidden;
    outline: none;
}

html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    background-image: url("https://lzreal.github.io/images/background1.jpg");
    background-size: cover;
    -moz-user-select: none;
    /*火狐*/
    -webkit-user-select: none;
    /*webkit浏览器*/
    -ms-user-select: none;
    /*IE10*/
    -khtml-user-select: none;
    /*早期浏览器*/
    user-select: none;
    font-size: 62.5%;
    overflow-y: auto;
}

html,
body:focus {
    cursor: default;
}

#main-body {
    width: 85%;
    height: 787px;
    display: block;
    margin: 5% auto;
    border-radius: 20px;
    border: gray 1px solid;
    box-shadow: 2px 2px 4px #FFF;
}

#main-body-left {
    width: 38.2%;
    height: 100%;
    background-color: #A0DEF9;
    float: left;
    color: #056786;
}

#main-body-right {
    width: 61.8%;
    float: left;
    height: 100%;
    text-align: center;
}

#main-body-left-title {
    width: 100%;
    height: 60%;
    text-shadow: 5px 2px 6px #aaa;
    position: relative;
}

#main-body-left-title #title-main {
    font-size: 6rem;
    width: 20%;
    font-weight: bold;
    font-family: '楷体';
    text-align: center;
    float: left;
    height: 100%;
    margin: 5% 0 0 5%;
}

#main-body-left-title #title-sous {
    font-size: 2rem;
    font-family: '仿宋';
    width: 5%;
    float: left;
    margin-top: 3%;
    height: 60%;
    margin-top: 8%;
}

#main-body-left-title #title-English {
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 75%;
    margin-top: 65%;
}

#main-body-right img {
    flex: none;
}

#click-to-enter {
    width: 30%;
    margin: 0 auto;
    height: 13%;
    border-radius: 0%;
    background-color: #A0DEF9;
    margin-top: 8%;
    color: #056786;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    font-weight: bolder;
    font-family: '楷体';
}

#click-to-enter:hover {
    transition: all 0.3s linear;
    width: 30%;
    margin: 0 auto;
    height: 13%;
    border-radius: 50%;
    background-color: #50A8CD;
    color: #C6E2F0;
    border: 3px solid black;
    margin-top: 8%;
    box-shadow: 5px 5px lightgray;
    cursor: pointer;
    text-shadow: 2px 2px 4px #056786;
}