* {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: none;
    position: absolute;
    -moz-user-select: none;
    /*火狐*/
    -webkit-user-select: none;
    /*webkit浏览器*/
    -ms-user-select: none;
    /*IE10*/
    -khtml-user-select: none;
    /*早期浏览器*/
    user-select: none;
}

ul#navigation {
    margin-top: 15%;
    width: 3%;
    margin-left: 5%;
    position: fixed;
}

ul#navigation li {
    width: 100%;
}

ul#navigation li div {
    width: 100%;
    margin-top: 10px;
    text-align-last: justify;
    text-align: justify;
    text-justify: distribute-all-lines;
}

ul#navigation li div:hover {
    cursor: pointer;
    border-bottom: 1px solid;
    font-weight: bolder;
}

#main-body {
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}

#main-body #header {
    border: 1px solid black;
    width: 100%;
}